@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@media (max-width:768px ){
    

.bg-container{
    /* background-color: black; */
    margin-top: 100px;
    height:auto;
    text-align: center;
    padding-top: 30px;
    width:130vw;
    padding: 20px;
    /* text-align: left; */
}
}
@media (min-width:769px){
   .bg-container{
    width: 100vw;
    margin-top: 100px;
    height:auto;
    text-align: center;
    padding-top: 30px;
    
    padding: 20px;
   }
}
.headhome{
    font-family: "roboto";
    width: 500px;
    padding-top: 50px;
    font-weight: bold;
   
}
.homedesciption{
    width: 520px;
    font-size: 20px;
    /* text-align: center; */
}
.img-con{
    background-image: url("https://img.freepik.com/free-photo/online-message-blog-chat-communication-envelop-graphic-icon-concept_53876-139717.jpg?size=626&ext=jpg&ga=GA1.1.1134535102.1718039641&semt=ais_user");
   width: 450px;
   height: 250px;
   margin-top: 70px;
   margin-right:120px;
    background-size: cover;
    padding-top: 55px;
}
.searchpost{
    width: 350px;
    padding: 10px;
    border-radius: 8px;
    position:-webkit-sticky;
    top: 0;
    font-weight: 500;
    border: solid;
    outline: none;
    
}
.limited-height{
    max-height: 100px;
    overflow-y: auto;
    border:none;
    padding: 10px;
   
}
.limited-height::-webkit-scrollbar {
    display: none;
}
.data-con{
    width: 200px;
}
